<!DOCTYPE html>
<html lang="en" ng-app="<%= appName %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hello!</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="content/main.css">
    <link rel="stylesheet" href="content/animations.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
        <script src="../bower_components/respond/respond.min.js"></script>
    <![endif]-->
</head>


<body>

    <div class="container" ng-cloak>
        <div class="header">
            <ul class="nav nav-pills pull-right" main-menu>
                <li><a href="#/">Home</a></li>
                <li><a href="#/about">About</a></li>
            </ul>
            <h3 class="text-muted"><%= appTitle %></h3>
        </div>

        <div ng-view id="ng-view" class="slide-animation"></div>

        <div class="footer">
            <p>&copy; <%= appTitle %> 2013</p>
        </div>

    </div>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="app.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/about/about.js"></script>
    <script src="directives/directives.js"></script>
    <script src="directives/main-menu.js"></script>
    <script src="config.js"></script>

</body>

</html>
